.node {
    position: absolute;
    background: rgb(233, 233, 233);
    overflow: hidden;
    outline: 2px solid white;

    &.minimized {
        width: 30px;
        height: 30px;
    }

    &.highlighted {
        outline: 3px solid rgb(255, 255, 0);
    }

    .top {
        background: #232323;
        height: 20px;
        cursor: move;
        text-align: end;

        .top-btn {
            color: white;
            font-size: 20px;
            cursor: pointer;
        }

        .highlight {
            color: yellow;
        }
    }

    .content {
        padding: 0px 20px 0px 20px;
        height: calc(100% - 30px);
        box-sizing: border-box;
    }

    .scroll-box {
        overflow-y: scroll;
        height: calc(100% - 40px);
    }

    .no-scroll-box {
        overflow-y: hidden;
        height: calc(100% - 40px);
    }

    .node-boundary {
        position: relative;
        overflow: hidden;
        margin: 0px 20px 0px 20px;
        border: 2px solid white;
        box-sizing: border-box;
    }

    .corner {
        margin-right: 0px;
        margin-left: calc(100% - 20px);

        // CSS hack for bottom-right triangle
        width: 0;
        height: 0;
        border-bottom: 20px solid black;
        border-left: 20px solid transparent;

        cursor: nwse-resize;
    }
}