.node {
    position: absolute;
    background: #cdcdcd;
    overflow: hidden;

    &.minimized {
        width: 30px;
        height: 30px;
    }

    .top {
        background: #232323;
        height: 20px;
        cursor: move;
        text-align: end;

        .top-btn {
            color: white;
            font-size: 20px;
            cursor: pointer;
        }
    }

    .content {
        padding: 0px 20px 0px 20px;
        height: auto;
        box-sizing: border-box;
    }

    .scroll-box {
        overflow-y: scroll;
        height: calc(100% - 40px);
    }

    .no-scroll-box {
        overflow-y: hidden;
        height: calc(100% - 40px);
    }

    .corner {
        margin-right: 0px;
        margin-left: calc(100% - 20px);

        // CSS hack for bottom-right triangle
        width: 0;
        height: 0;
        border-bottom: 20px solid black;
        border-left: 20px solid transparent;

        cursor: nwse-resize;
    }
}

